<button type="reset" (click)="navegarParaListaConsultas()" class="button no-print" mat-stroked-buttoncolor="warn"><mat-icon>keyboard_return</mat-icon></button>

<button class="botaoImprimir no-print" onclick="window.print()" mat-fab extended color="primary"><mat-icon>download</mat-icon> Imprimir</button>

<div class="container_impressao">
  <div>
    <img src="assets/icons/logo_pesquisa_nome.png" alt="" />
  </div>

  <div class="cabecalho">
    <h1>Relatório</h1>
    <p>{{ pesquisa.tipoPesquisa }}</p>
    <p>{{ pesquisa.nomeCidade }}, {{ pesquisa.estado }}</p>
    <p> <strong>Total de Votos:</strong> {{ totalVotos }}
  </div>
</div>
  <div class="dados">
    <div class="d">
     <p>{{ pesquisa.candidato1 }}</p>
     <p>{{ porcentagemA }}%</p>
     <p><strong>Votos:</strong> {{ candidatoA }}</p>
    </div>
    <div class="d">
     <p>{{ pesquisa.candidato2 }}</p>
     <p>{{ porcentagemB }}%</p>
     <p><strong>Votos:</strong> {{ candidatoB }}</p>
    </div>
    <div class="d">
     <p>{{ pesquisa.candidato3 }}</p>
     <p>{{ porcentagemC }}%</p>
     <p><strong>Votos:</strong> {{ candidatoC }}</p>
    </div>
    <div class="d">
     <p>{{ pesquisa.candidato4 }}</p>
     <p>{{ porcentagemD }}%</p>
     <p><strong>Votos:</strong> {{ candidatoD }}</p>
    </div>
    <div class="d">
     <p>B/N</p>
     <p>{{ porcentagemN }}%</p>
     <p><strong>Votos:</strong> {{ quantidadeVotoNull }}</p>
    </div>
  </div>

  <div class="dados">
  <div class="dd">
      <h2>Presidente Atual</h2>
      <p>Otimo: {{presidenteOtimo}}%,</p>
      <p>Regular: {{presidenteRegular}}%</p>
      <p>Ruim: {{presidenteRuim}}%</p>
      <p>Pessimo: {{presidentePessimo}}%</p>
    </div>
      <div class="dd">
      <h2>Governador Atual</h2>
      <p>Otimo: {{governadorOtimo}}%,</p>
      <p>Regular: {{governadorRegular}}%</p>
      <p>Ruim: {{governadorRuim}}%</p>
      <p>Pessimo: {{governadorPessimo}}%</p>
    </div>
      <div class="dd">
      <h2>Prefeito Atual</h2>
      <p>Otimo: {{prefeitoOtimo}}%,</p>
      <p>Regular: {{prefeitoRegular}}%</p>
      <p>Ruim: {{prefeitoRuim}}%</p>
      <p>Pessimo: {{prefeitoPessimo}}%</p>
    </div>
  </div>

